#search_result {
  font-weight: bold;
  // font-size: 1.5em;
  color: white;
  font-family: Arial, sans-serif;
  
  .result_list_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    gap: 30px 20px;
    padding: 24px 20px;
    transition: all 0.3s linear;
  }
}
